@model SV2.Models.Groups.ViewMemberRolesModel

@{
    ViewData["Title"] = $"{Model.Target}'s Roles in {Model.Group.Name}";

    SVUser user = UserManager.GetUser(Context)!;
}

<div class="container vw-100">
    <div class="col-12">

        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])

        @if (Model == null)
        {
            <h1>Role not found!</h1>
        }
        else
        {
            <h3 style="text-align:center">@ViewData["Title"]</h3>
            <div class="row srow">
                @foreach (GroupRole role in Model.Group.GetRoleList().AsEnumerable().Where(r => r.HasRole(user).Result))
                {
                <div class="col-6">
                    <h4>@role.Name</h4>
                </div>
                <div class="col-6">
                    @if (await Model.Group.HasPermission(user, "removerole"))
                    {
                        <a asp-action="ManageUser" asp-controller="Group" asp-route-groupid="@Model.Group.Id" asp-route-userid="@Model.Target.Id" asp-route-operation="@($"removerole|{role.RoleId}")" class="btn btn-outline-primary">Remove</a>
                    }
                </div>
                }
            </div>

            <br />

            <h2 style="text-align:center">Other roles</h2>
            <div class="row srow">
                @foreach (GroupRole role in Model.Group.GetRoleList().AsEnumerable().Where(r => !r.HasRole(user).Result))
                {
                <div class="col-6">
                    <h4>@role.Name</h4>
                </div>
                <div class="col-6">
                    @if (await Model.Group.HasPermission(user, "addrole"))
                    {
                        <a asp-action="ManageUser" asp-controller="Group" asp-route-groupid="@Model.Group.Id" asp-route-userid="@Model.Target.Id" asp-route-operation="@($"addrole|{role.RoleId}")" class="btn btn-outline-warning">Add</a>
                    }
                </div>
                }
            </div>
        }
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</div>