@model List<SV2.Models.Map.MapState>
@{
    ViewData["Title"] = "World Map";
}

<style>
    .province {
    }
    body {
        overflow-y: hidden;
    }
    main {
        overflow-y: clip;
        overflow-x: clip;
    }

    #svg {
        transform: scale(1.2);
        /*
            transform-origin: 0 0;
         opacity: 10%;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%; */
    }

    .window {
        /*height: 80vh;
        width: 100vw; 
        height:100%;
        width:100%;
        overflow-y: hidden;
            overflow-x: hidden;*/
    }
</style>

<div class="container" style="max-width:100vw;">
    <div class="window" id="window">
        <svg
         version="1.1"
         id="svg"
         sodipodi:docname="sv_map_counties2.svg"
         inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:svg="http://www.w3.org/2000/svg"
         viewBox="0 0 2560 1280">
        <style>
            path {
                fill: white;
                stroke: black;
                /*stroke-width: 0.5px;*/
                /*backdrop-filter: brightness(0.0);*/
            }
            path:hover {
                filter: brightness(0.75);
            }
        </style>
        @foreach(var province in Model)
        {
            @if (province.IsOcean)
            {
                <path d="@province.D" id="@province.Id" style="fill: #040d14; stroke: #040d14" class="province"></path>
            }
            else {
                @if (province.District is not null) 
                {
                    <a href="/District/View/@province.District.Name">
                        @if (true)
                        {
                            <path d="@province.D" id="@province.Id" style="fill:#@province.District.Color;stroke: #@province.District.Color !important" class="province"></path>
                        }
                        else
                        {
                            <path d="@province.D" id="@province.Id" style="fill:#@province.District.Color;" class="province"></path>
                        }
                    </a>
                }
            }
        }
    </svg>
    </div>
</div>