@using SV2.Database;
@using SV2.Database.Models.Districts;
@model SV2.Database.Models.Districts.District

@{ 
    if (Model != null)
    {
        ViewData["Title"] = Model.Name;
    }
}

<head>
    <meta property="og:title" content="@Model.Name">
    <meta name="keywords" content="SpookVooper, Vooperia, Districts, Government">
    <meta property="og:description" content="@Model.Description">
    <meta property="og:url" content="https://spookvooper.com/District/View/@Model.Name">
</head>

<!-- Main row for page -->
<div class="d-flex flex-row align-content-center" style="width:100%">
    <!-- Leftmost column -->
    <div class="p-2 flex-shrink-1 ms-auto"></div>

    <!-- Center column -->
    <div class="p-4" style="width:80em">

        @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])

        @{
            if (Model is not null)
            {
                SVUser? user = UserManager.GetUser(Context);

                if (user != null && Model.Senator != null && (Model.Senator.UserId == user.Id || user.ValourId == 12200448886571008))
                {
                    <a asp-route-id="@Model.Name" asp-action="Edit" asp-controller="District" class="btn btn-primary">Modify</a>
                }

                <div class="d-flex align-content-center align-items-center">

                    <div class="ms-auto" style="display: inline-block; vertical-align:central; height:100%">
                        <img src="@Model.FlagUrl" style="width:5em; vertical-align:middle" />
                    </div>

                    <div style="display:inline-block; margin:2em;">
                        <h2 style="text-align:center" class="display-4">The District of</h2>
                        <h1 style="text-align:center" class="display-3">@Model.Name</h1>
                    </div>

                    <div class="me-auto" style="display: inline-block; vertical-align:central; height:100%">
                        <img src="@Model.FlagUrl" style="width:5em; vertical-align:middle" />
                    </div>

                </div>

                <br />

                if (Model.Senator is not null)
                {
                    <div class="p-2 align-self-center" style="text-align:center">

                        @{
                            string senateName = "None.";
                            senateName = Model.Senator.User.Name;
                        }

                        <h2>Elected Senator: @senateName</h2>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4 col-sm-offset-4">
                                    <div>
                                        @if (Model.Senator is not null)
                                        {
                                            // TODO: add getting party using a party system that we will create
                                            //var party = senator.GetParty();
                                            string color = "ffffff";

                                            //if (party != null)
                                            //{
                                            //    color = party.Color;
                                            //}

                                            <br />
                                            <img class="govpfp" style="box-shadow: 0px 0px 0px 7px #{@color};" src="@Model.Senator.User.ImageUrl" />
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="p-2 align-self-center" style="text-align:center">
                        <h3>Elected Senator: None!</h3>
                    </div>
                }

                int population = DBCache.GetAll<SVUser>().Count(x => x.DistrictId == Model.Id);

                <div class="p-2 align-self-center" style="text-align:center">
                    <h3>Population: @population</h3>
                </div>

                if (user != null)
                {
                    if (user.DistrictId != null && user.DistrictId == Model.Id)
                    {
                        <div class="p-2 align-self-center" style="text-align:center">
                            <h3>You live here.</h3>
                        </div>
                    }
                    else
                    {
                        <div class="p-2 align-self-center" style="text-align:center">
                            <a asp-controller="District" asp-action="MoveDistrict" asp-route-id="@Model.Id" class="btn btn-outline-primary">Move Here</a>
                        </div>
                    }
                }
                else
                {
                    <div class="p-2 align-self-center" style="text-align:center">
                        <h3>Log in to move!</h3>
                    </div>
                }

                <br />

                if (user!.Id == Model.GovernorId) {
                    <div class="p-2 align-self-center" style="text-align:center">
                            <a asp-controller="District" asp-action="EditPolicies" asp-route-id="@Model.Id" class="btn btn-outline-primary">Edit Policies</a>
                    </div>
                }

                <br />
                <br />

                if (Model.Description != null)
                {
                    <h1 style="text-align:left">Description</h1>
                    <p class="p" style="font-size:large">@Html.Raw(MarkdownManager.GetHtml(Model.Description))</p>
                }

                <center>
                    <div class="window" id="window">
                        @{
                            SV2.Models.Map.DistrictMap mapdata = MapController.DistrictMaps.First(x => x.DistrictId == Model.Id);
                        }
                        <svg id="svg" viewBox="@(mapdata.LowestXPos-10) @(mapdata.LowestYPos) @((mapdata.HighestXPos-mapdata.LowestXPos)+30) @((mapdata.HighestYPos-mapdata.LowestYPos)+25)"
                             style="/* transform: scale(0.75);transform-origin: 50% 0%; */width: 75%;height: 75%;">
                            <style>
                                path {
                                    fill: white;
                                    stroke: black;
                                    stroke-width: 0.5px;
                                }

                                path:hover {
                                    filter: brightness(0.75);
                                }
                            </style>
                            @foreach (var province in mapdata.Provinces)
                            {
                                var dbprovince = DBCache.Get<Province>(province.Id);
                                <a href="/Province/View/@province.Id" data-toggle="tooltip" data-placement="top" title="@dbprovince.Name">
                                    @if (false)
                                    {
                                        <path d="@province.D" id="@province.Id" style="fill:#@province.District.Color;stroke: #@province.District.Color !important" class="province"></path>
                                    }
                                    else
                                    {
                                        <path d="@province.D" id="@province.Id" style="fill:#@province.District.Color;" class="province"></path>
                                        if (dbprovince.City is not null)
                                        {
                                            if (dbprovince.City.IsCapitalCity)
                                            {
                                                <path style='transform: translate(@(province.XPos-4)px, @(province.YPos+4)px) scale(0.5);' d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            }
                                        }
                                    }
                                </a>
                            }
                        </svg>
                    </div>
                </center>
            } 
            else
            {
                <h1 style="text-align:center" class="display-4">District not found!</h1>
            }
        }
    </div>

    <!-- Rightmost column -->
    <div class="p-4 flex-shrink-1 me-auto"></div>
</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>